# enable credential helper for all S3 requests
common --credential_helper=*.amazonaws.com=%workspace%/tools/credential-helper

# recommended optimization
common --experimental_repository_cache_hardlinks

try-import %workspace%/.bazelrc.user
